body {

}

.box {
  display: flex;
  justify-content: center;
  border-style: groove;
  border-width: 1px;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  background-color: #FF0000;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
